@using ViajesETech.Web.Models
@model LoginUser
@{
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}
<div id="login" class="embed-responsive">
    <h3 class="text-center text-white pt-5">Login form</h3>
    <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-6">
                <div id="login-box" class="col-md-12">
                    <h3 class="text-center text-info">Login</h3>
                    <form id="frm">
                        <div class="form-group-lg">
                            <div class="form-group">
                                Usuario
                                <input type="text" name="User" class="form-control" />
                            </div>
                            <br />
                            <div class="form-group">
                                Password
                                <input type="password" name="Password" class="form-control" />
                            </div>
                            <br />
                            <input type="submit" class="btn btn-success" value="Entrar" id="btnLogin" style="text-align:center" />
                            <button type="button" class="btn btn-primary" id="btnRegistrar" >
                               Registrar
                            </button>
                        </div>
                    </form>
                </div>
            </div>


            

        </div>
    </div><div class="row justify-content-center align-items-center" style="padding:10px" id="error">

</div>
    
</div>





@section scripts{
    <script>
        $(document).ready(
            function () {
                
                $("#frm").submit(function (e) {
                    document.getElementById("error").innerHTML = "";
                    $("#btnLogin").prop("disabled", true);
                    $("#btnRegistrar").prop("disabled", true);                    
                    e.preventDefault();
                    url = "@Url.Content("~/Login/Login")";
                    parametros = $(this).serialize();
                    $.post(url, parametros, function (data) {
                        $("#btnLogin").prop("disabled", false);
                        $("#btnRegistrar").prop("disabled", false);
                        if (data == "1") {
                            alert("Bienvenido!!!");                           
                            document.location.href = "@Url.Content("~/Viajes/Index")";
                        }
                        else if (data == "2") {
                            alert("Bienvenido!!!");                           
                            document.location.href = "@Url.Content("~/Login/ViajeroCrear")";
                        }
                        else {                            
                            document.getElementById("error").innerHTML="<div class='alert-danger'>" + data + "</div>";                            
                        }
                    })                   
                })

        $("#btnRegistrar").click(function (e) {
        e.preventDefault();
        $("#errorRegistrar").remove();
        $("#btnSend").prop("disabled", true);
        url = "@Url.Content("~/Login/Registrar")";      
        document.location.href = url;
        });

        });
   



    </script>
}
